{% load i18n %}

<h4>Registration Confirmation for {{ occurrence.title }}</h4>
<h5>{% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</h5>

{{ occurrence.description|safe }}

<dl>
    <dt>Name</dt><dd>{{ attendee.name }}</dd>
    <dt>Confirmation Code</dt><dd>{{ attendee.confirmation_code }}</dd>

{% if attendee.stripe_transaction %}
<dt>Paid</dt><dd>$ {{ event.rsvpcost|floatformat:2 }}</dd>
{% endif %}

{% if event.entrycost %}
<dt>Due at door</dt><dd>$ {{ event.entrycost }}</dd>
{% endif %}
</dl>
