<h4>New Registration for: {{occurrence.title}}</h4>
<h5>{% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</h5>

<dl>
  <dt>Name</dt><dd>{{ attendee.name }}</dd>
  <dt>Confirmation Code</dt><dd>{{ attendee.confirmation_code }}</dd
>
  <dt>Email</dt><dd>{{ attendee.email }}</dd>
  <dt>Phone</dt><dd>{{ attendee.phone }}</dd>
  <dt>Registered</dt><dd>{{ attendee.created }}</dd>
</dl>
<a class="btn" href="/admin/schedule/attendee/{{ attendee.id }}">
Edit Details</a>
{% if attendee.stripe_transaction %}
  <a href="{{ attendee.stripe_url }}" class="btn">Payment
Information</a>
{% else %}
  No payment information
{% endif %}
